<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830695954379-vgu72gqatkidtgbntjme5s63871q1uat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830695954379-vgu72gqatkidtgbntjme5s63871q1uat</string>
	<key>API_KEY</key>
	<string>AIzaSyDS30uARyceq8jciWodkdG9pBF4WyWLIsg</string>
	<key>GCM_SENDER_ID</key>
	<string>830695954379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bytheculture.thegreenbook</string>
	<key>PROJECT_ID</key>
	<string>thegreenbook-f6b23</string>
	<key>STORAGE_BUCKET</key>
	<string>thegreenbook-f6b23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830695954379:ios:d10a05e9eb389db9</string>
	<key>DATABASE_URL</key>
	<string>https://thegreenbook-f6b23.firebaseio.com</string>
</dict>
</plist>